
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  @apply border border-black p-4 uppercase text-lg font-medium
}

@layer base {
  @font-face {
    font-family: "Neutraface";
    src: url("/fonts/NeutrafaceTextBold.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "NeutrafaceTextBook";
    src: url("/fonts/NeutrafaceTextBook.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  body {
    font-family: "NeutrafaceTextBook";
  }

  .fancyButton {
    @apply relative w-full lg:p-4 px-8 p-6 overflow-hidden border border-white bg-transparent text-white shadow-2xl 
    transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-[#BFE5E6] before:transition-all 
    before:duration-500 hover:text-black hover:before:left-0 hover:before:w-full flex items-center lg:gap-1 
    gap-3 font-neutraface;
  }
  
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--background);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: var(--background);
  }
  
  .progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    bottom: 100px;
  }
  
  .parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax .scroller {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    font-family: "Neutraface";
  }
  
  .parallax span {
    display: block;
    margin-right: 30px;
  }
 
  
}