
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  @apply border border-black p-4 uppercase text-lg font-medium
}

@layer base {
  @font-face {
    font-family: "Neutraface";
    src: url("/fonts/NeutrafaceTextBold.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "NeutrafaceTextBook";
    src: url("/fonts/NeutrafaceTextBook.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  body {
    font-family: "NeutrafaceTextBook";
  }
}